
#div-grid{
  display: grid;
}
@media screen and (max-width:600px){
    #img-party{
        display: flex;
        width:100vw;
        height: 25vh;
    }
    #div-grid{
        display: grid;
        grid-template-areas: 
        'header header header header'
        'main main main main'
        'main main main main'
        'footer footer footer footer ';
         width: 100vw;
         height: 100vh;
      }
    #div-header{
        grid-area: header;
        background-color: aquamarine;
    } 
    
    #div-main{
        grid-area: main;
        background-color: blue;
    }
    
    #div-footer{
    display: flex;
    flex-direction: row;
    grid-area: footer;
    background-color: black;
    justify-content: space-around;
    align-items:center; 
    }
    .ul-footer{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 100px;
    }
    .name{
        color: white;
    }
    .name-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .img-footer{
        display: flex;
        justify-content: space-around;
        width: 5vw;
        height: 5vh;
    }
    
}