
#div-grid{
  display: grid;
}
@media screen and (max-width:600px){
    #img-party{
        display: flex;
        width:100vw;
        height: 25vh;
    }
    #div-grid{
        display: grid;
        grid-template-areas: 
        'header header header header'
        'main main main main'
        'main main main main'
        'main main main main'
        'main main main main'
        'main main main main'
        'footer footer footer footer ';
         /* width: 100vw; */
         /* height: 100vh; */
      }
      #img-party{
          width: 100vw;
          
      }
      #nav-menu{
          width: 100vw;
          height: 5vh;
      }
    #div-header{
        grid-area: header;
        width: 100vw;
        flex-direction: row-reverse;
        /* height: 1vh;   */
    } 
    #img45{width: 100vw;}
    .menu{
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        font-size: 1.1em;
       font-weight: bold;
        text-decoration: none;
    }
    
    #div-main{
        grid-area: main;
        background-color: rgb(0, 0, 0);
        
    }
    p{
        color: chartreuse;
        font-size: 2em;
    }
    
    #div-footer{
    grid-area: footer;
    background-color: brown;
    margin-bottom: 0;
    }
    
}